{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro.css' %}">
  <title>Registro</title>
</head>
<body>
  <header>
    <div class="box-nav"></div>
    <h1>Daily News</h1>
    <nav class="menu-bar">
      <a href="{% url 'inicio' %}" class="menu-item" style="outline: none;">Início</a>
      <a href="{% url 'noticia' %}" class="menu-item" style="outline: none;">Noticia</a>
      <a href="{% url 'cadastro' %}" class="menu-item" style="outline: none;">Registro</a>
      <a href="{% url 'contato' %}" class="menu-item" style="outline: none;">Contato</a>
  </nav>
</header>
  <h2>Registro</h2>

  <form id="meuFormulario" method="post">
    {% csrf_token %}
    <h4><a href="{% url 'termo' %}" target="_blank" style="text-decoration: none; color: inherit;">Confirmar termos</a></h4>
    <label for="nome"></label>
    <input type="text" placeholder="Digite seu nome" id="nome" name="nome" required><br>

    <label for="email"></label>
    <input type="email" placeholder="Digite seu email" id="email" name="email" required><br>

    <div class="box"></div>
    <input type="checkbox" id="myCheckbox" name="myCheckbox">

    <button type="submit" class="btn-cadastrar" onclick="cadastrar()">Entrar</button>
    <a href="{% url 'cancelar' %}" class="cancelar">Cancelar registro</a>

  </form>
</body>

  <script>
    
    function validarEmail(email) {
      var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return re.test(email);
    }

    function cadastrar(){
      var checkbox = document.getElementById("myCheckbox");
      var nome = document.getElementById("nome").value;
      var email = document.getElementById("email").value;

      var validaEmail = validarEmail(email);

      if(checkbox.checked && email && nome && validaEmail){
        alert("Parabéns, você foi cadastrado com sucesso!"); 
      }
      else{
        alert('Informações inválidas!');
      }
    }
  </script>
</html>
